@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: grid;
}

header {
    background: linear-gradient(90deg, rgba(84,115,76,1) 0%, rgba(134,166,119,1) 100%);
    color: #fff;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 20% 80%;
}

.title{
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.6;
    color: #fff;
    margin: 0;
    padding: 0;
    grid-column: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    grid-column: 2;
}

nav ul li {
    margin-right: 20px;
    margin-top: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    background-color: #86a677;
    box-shadow:0px 0px 50px 55px #86a677;
}




footer {
    background: linear-gradient(90deg, rgba(84,115,76,1) 0%, rgba(134,166,119,1) 100%);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}